@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'SEGA LOGO FONT';
  font-style: normal;
  font-weight: normal;
  src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

.sega {
  font-family: 'Sega LOGO FONT';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-start: #011138;
    --background-end:#00bbbb;
  }
}

body {
  background: linear-gradient(270deg, var(--background-start), var(--background-end));
  font-family: Arial, Helvetica, sans-serif;
}
